
@model WalletWeb.Models.ViewModels.CustomerAccountViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="main-content">
    <div class="row mb-4">
        <div class="col mb-3">
            <div class="card text-left">
                <div class="card-header bg-transparent">
                    <div class="row" style="align-items: center;">
                        <div class="col-md-6">
                            <div class="ul-card-widget__head-label">
                                <h5 class="text-18 font-weight-700 card-title">Account Details</h5>
                            </div>
                        </div>
                        <div class="text-right col-md-6">
                            <a href="@Url.Action("Create", "CustomerAccountsManagement")" class="btn btn-outline-primary" type="button">Create New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.ApplicationUser.FullName):</strong> </label>
                                    <div class="col-sm-8 pt-2">
                                        @Html.DisplayFor(x => x.ApplicationUser.FullName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.AccountNumber):</strong></label>
                                    <div class="col-sm-8 pt-2">
                                        @Html.DisplayFor(x => x.AccountNumber)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.Balance):</strong></label>
                                    <div class="col-sm-8 pt-2">
                                        @string.Format("{0:n}", Model.Balance)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.AccountStatus.Status):</strong></label>
                                    <div class="col-sm-8 pt-2">
                                        @Html.DisplayFor(x => x.AccountStatus.Status)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.DailyTransactionLimit):</strong></label>
                                    <div class="col-sm-8 pt-2">
                                        @string.Format("{0:n}", Model.DailyTransactionLimit)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"><strong>@Html.DisplayNameFor(x => x.Created):</strong></label>
                                    <div class="col-sm-8 pt-2">
                                        @Html.DisplayFor(x => x.Created)
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">Actions</div>
                    <a asp-controller="AccountStatusManagement" asp-action="SetStatus" asp-route-accountId="@Model.Id" class="btn btn-danger m-1" type="button">
                        Change Account Status
                    </a>
                    <a asp-controller="CustomerAccountsManagement" asp-action="SetDailyLimit" asp-route-accountId="@Model.Id" class="btn btn-warning m-1" type="button">
                        Set Daily Limit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
